/* example 1 */
/*.selected {
  color: pink;
}

ul li {
  color: yellow;
}*/


/* example 2 */
 /*main > details > ul li:first-child  {
  color: pink;
}

.selected {
  color: yellow;
}*/

/* example 3 */
/*body > div > div > div > div > div > div > main > details > ul > li {
  color: yellow;
}

.selected {
  color: pink;
}*/
